<h1>Search users</h1>
<form action="/users/search"  method="POST" class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control w-25" id="userInput" placeholder="User">
  </div>
    <button type="submit" class="btn btn-primary mb-3 mt-3">Search</button>  </div>
</form>